@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.navBar {
    margin: 8px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100px;
    background-color: #282828;
    border-radius: 10px;
    z-index: 1;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
}

nav a:hover {
    background-color: #3a86ff;
}

.navBar img {
    height: 80%;
    position: absolute;
    left: 20px;
}
