@keyframes blurIn {
    0% {
        filter: blur(0);
    }
    100% {
        filter: blur(5px);
    }
}

@keyframes blurOut {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(0);
    }
}

body {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.content {
    padding-top: 150px;
    width: 100vw;
}

a {
    text-decoration: none;
}

.text, h3, h4, h2 {
    font-family: 'Courier New', Courier, monospace;
}

#nameText {
    color: blue;
}

.idea img:hover {
    opacity: 70%;
    cursor: pointer;
}

/* Only shows if smaller than 1200px */
@media only screen and (max-width: 1200px) {
    #screenSize {
        opacity: 255;
    }
}

/* Only shows if larger than 1200px */
@media only screen and (min-width: 1200px) {
    #screenSize {
        opacity: 0;
    }
}

input, textarea {
    margin: 10px 0px 10px 0px;
}

#overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0px;
    width: 100%;
    height: 100%;
}

h4 {
    padding: 10px;
}

li {
    list-style-type: none;
}

#taskList {
    padding: 0px;
}

.tasks {
    background-color: darkgray;
    border-radius: 15px;
    width: 60vw;

}

.taskContent {
    display: flex;
    justify-content: center;
}

#gameContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.task h3 {
    padding: 10px;
    margin: 0px;
}
.task h4 {
    margin: 10px;
}

.task button, #addButton {
    margin: 2px 2px 10px 5px;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.tasks h2 {
    background-color: slategray;
    margin: 0px;
    padding: 15px;
    border-radius: 15px 15px 0px 0px;
}

#navMoreButton {
    color: white;
    font-size: 50px;
    right: 30px;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

#theme {
    color: white;
    font-size: 50px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 25px;
}

#navMore {
    top: 100px;
    padding-top: 25px;
    background-color: rgb(40, 40, 40);
    right: 30px;
    position: absolute;
    border-radius: 0px 0px 15px 15px;
}

#navMore a {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
    padding: 25px;
    border-radius: 10px;
    margin: 10px;
    margin-bottom: 200px;
}

.customization {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.innerCustomization {
    position: fixed;
    width: 40vw;
    height: 40vh;
    background-color: white;
    align-items: center;
    border-radius: 25px;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#close {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 25px;
    background: none;
    border: 0px;
    cursor: pointer;
}

.innerCustomization h3 {
    width: 100%;
}

.innerCustomization button {
    margin:15px;
}

#game img {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.gamePiece {
    border: 3px solid black;
}

#game {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
    grid-template-areas: 
    "a b c"
    "d e f"
    "g h i";
}

#gamePos1 {
    grid-area: a;
}

#gamePos2 {
    grid-area: b;
}

#gamePos3 {
    grid-area: c;
}

#gamePos4 {
    grid-area: d;
}

#gamePos5 {
    grid-area: e;
}

#gamePos6 {
    grid-area: f;
}

#gamePos7 {
    grid-area: g;
}

#gamePos8 {
    grid-area: h;
}

#gamePos9 {
    grid-area: i;
}

#shuffleButton {
    height: 50px;
    width: 100px;
    margin: 20px;
    border: 0px;
    background-color: rgb(154, 154, 154);
    border-radius: 10px;
}

#win {
    position: fixed;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
}

#verseOutput {
    font-family: "UnifrakturMaguntia";
    font-size: 30px;
    padding: 0px 15vw 0px 15vw;
}

#lookupText {
    font-family: "UnifrakturMaguntia";
    font-size: 50px;
    padding: 0px 15vw 0px 15vw;
}

#singleVerse, #wholeChapter {
    background-color: darkgray;
    margin: 0px 10vw 0px 10vw;
    border-radius: 10px;
    padding: 25px 0px 25px 0px;
    margin-bottom: 50px;
}

#wholeChapterOutput {
    text-align: left;
    padding-left: 50px;
}